doctype html
html

  head
    
    //- Head

    link(
      rel="icon"
      type="image/x-icon"
      href="../static/logo.png"
    )

    //- CSS Import

    block style

    //- Title

    title Let's Chat: NodeJS ChatAPP

  body

    //- Navigation Bar

    nav 
      img(
        src="../static/logo.png"
        alt="Logo"
        class="logo"
        draggable="false"
      )

      h1 Let's Chat: NodeJS ChatAPP. Start Testing it out!

    //- Content

    block content

  //-Script

  block script